Repository bem/storybook-to-figma: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write --parser markdown"
  ],
  "*.json": [
    "prettier --write --parser json"
  ]
}

chore: init lerna
  lerna.json
  package-lock.json
  package.json
  packages/.gitkeep
Due: prettier --write --parser json

Figma plugin package renamed
  packages/figma-plugin/package-lock.json
  packages/figma-plugin/package.json
Due: prettier --write --parser json

READMEs updated
  packages/figma-plugin/README.md
  packages/storybook-addon/README.md
  readme.md
Due: prettier --write --parser markdown

Installed React
  packages/figma-plugin/package-lock.json
  packages/figma-plugin/package.json
  packages/figma-plugin/tsconfig.json
Due: prettier --write --parser json

Root App component added
  packages/figma-plugin/src/components/App.tsx
  packages/figma-plugin/src/ui.html
  packages/figma-plugin/src/ui.ts
  packages/figma-plugin/src/ui.tsx
  packages/figma-plugin/webpack.config.js
Due: prettier --write, eslint --fix

Styles separated and moved to the separate directory
  packages/figma-plugin/src/modules/ui/ModalWindow.ts
  packages/figma-plugin/src/resources/styles/modal.css
  packages/figma-plugin/src/resources/styles/ui.css
  packages/figma-plugin/src/ui.css
  packages/figma-plugin/src/ui.tsx
Due: prettier --write, eslint --fix

Modal window re-implemented in React
  packages/figma-plugin/src/components/App.tsx
  packages/figma-plugin/src/components/Iframe.tsx
  packages/figma-plugin/src/components/modal/Modal.tsx
  packages/figma-plugin/src/components/modal/ModalCloseButton.tsx
  packages/figma-plugin/src/components/modal/ModalOpenButton.tsx
  packages/figma-plugin/src/modules/ui/Iframe.ts
  packages/figma-plugin/src/modules/ui/ModalWindow.ts
  packages/figma-plugin/src/modules/ui/StorybookAdder.ts
  packages/figma-plugin/src/modules/ui/StorybookChooser.ts
  packages/figma-plugin/src/resources/styles/modal.css
  packages/figma-plugin/src/resources/styles/ui.css
  packages/figma-plugin/src/resources/ui.html
  packages/figma-plugin/src/ui.html
  packages/figma-plugin/src/ui.tsx
  packages/figma-plugin/webpack.config.js
Due: prettier --write, eslint --fix

SVG icon support added
  packages/figma-plugin/package-lock.json
  packages/figma-plugin/package.json
  packages/figma-plugin/src/types/custom.d.ts
  packages/figma-plugin/tsconfig.json
  packages/figma-plugin/webpack.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

New components implemented
  packages/figma-plugin/src/components/App.tsx
  packages/figma-plugin/src/components/modal/Modal.tsx
  packages/figma-plugin/src/components/storybook/AddStorybookButton.tsx
  packages/figma-plugin/src/components/storybook/AddStorybookForm.tsx
  packages/figma-plugin/src/components/storybook/StorybookItem.tsx
  packages/figma-plugin/src/components/storybook/StorybookList.tsx
  packages/figma-plugin/src/resources/icons/plus.svg
  packages/figma-plugin/src/resources/icons/trash.svg
  packages/figma-plugin/src/resources/styles/addStorybookButton.css
  packages/figma-plugin/src/resources/styles/addStorybookForm.css
  packages/figma-plugin/src/resources/styles/modal.css
  packages/figma-plugin/src/resources/styles/storybookItem.css
  packages/figma-plugin/src/resources/styles/storybookItemThemes.module.css
  packages/figma-plugin/src/resources/styles/storybookList.css
  packages/figma-plugin/src/resources/styles/text.css
Due: prettier --write, eslint --fix

Fix typing issues
  packages/storybook-addon/src/test.tsx
  packages/storybook-addon/src/withGlobals.tsx
  packages/storybook-addon/src/withRoundTrip.ts
Due: prettier --write, eslint --fix

Addon renamed properly
  packages/storybook-addon/src/Tool.tsx
  packages/storybook-addon/src/components/TabContent.tsx
  packages/storybook-addon/src/constants.ts
  packages/storybook-addon/src/preset/manager.ts
Due: prettier --write, eslint --fix

Moved global 'enabled' value to constants
  packages/storybook-addon/src/Tool.tsx
  packages/storybook-addon/src/constants.ts
  packages/storybook-addon/src/preset/preview.ts
  packages/storybook-addon/src/withGlobals.tsx
Due: prettier --write, eslint --fix

Unnecessary debug logging removed
  packages/storybook-addon/src/figma/figma.ts
  packages/storybook-addon/src/withGlobals.tsx
Due: prettier --write, eslint --fix

Proper icon is now used
  packages/storybook-addon/src/Tool.tsx
Due: prettier --write, eslint --fix

Unnecessary panel removed
  packages/storybook-addon/src/components/PanelContent.tsx
  packages/storybook-addon/src/preset/manager.ts
  packages/storybook-addon/src/withRoundTrip.ts
Due: prettier --write, eslint --fix

Couple of changes
  packages/storybook-addon/src/Panel.tsx
  packages/storybook-addon/src/components/TabContent.tsx
  packages/storybook-addon/src/preset/manager.ts
  packages/storybook-addon/src/preset/preview.ts
  packages/storybook-addon/src/withGlobals.tsx
Due: prettier --write, eslint --fix

Tab file structured changed
  packages/storybook-addon/src/Tab.tsx
  packages/storybook-addon/src/components/List.tsx
  packages/storybook-addon/src/components/Tab/TabContent.tsx
  packages/storybook-addon/src/components/Tab/TabInner.tsx
  packages/storybook-addon/src/components/Tab/TabWrapper.tsx
  packages/storybook-addon/src/components/TabContent.tsx
Due: prettier --write, eslint --fix

Combinations implemented
  packages/storybook-addon/src/components/Tab/STFContext.tsx
  packages/storybook-addon/src/components/Tab/TabContent.tsx
  packages/storybook-addon/src/hooks/useCombine.tsx
  packages/storybook-addon/src/preset/manager.ts
  packages/storybook-addon/src/utils/generateArgTypeCombinations.ts
  packages/storybook-addon/src/utils/generateCombinations.ts
  packages/storybook-addon/src/withGlobals.tsx
Due: prettier --write, eslint --fix

Wrappers separated
  packages/storybook-addon/src/Tab.tsx
  packages/storybook-addon/src/Tool.tsx
  packages/storybook-addon/src/components/CombineWrapper/CombineWrapper.tsx
  packages/storybook-addon/src/components/ComponentWrapper/ComponentWrapper.tsx
  packages/storybook-addon/src/components/DragWrapper/DragComponent.tsx
  packages/storybook-addon/src/components/DragWrapper/DragWrapper.css
  packages/storybook-addon/src/components/DragWrapper/DrawWrapper.tsx
  packages/storybook-addon/src/components/Tab/STFContext.tsx
  packages/storybook-addon/src/components/Tab/TabContent.tsx
  packages/storybook-addon/src/components/Tab/TabInner.tsx
  packages/storybook-addon/src/components/Tab/TabWrapper.tsx
  packages/storybook-addon/src/components/ToolbarItems/Combinations.tsx
  packages/storybook-addon/src/components/ToolbarItems/DragEnable.tsx
  packages/storybook-addon/src/constants.ts
  packages/storybook-addon/src/hooks/dragToFigma.ts
  packages/storybook-addon/src/preset/manager.ts
  packages/storybook-addon/src/preset/preview.ts
  packages/storybook-addon/src/withGlobals.tsx
Due: prettier --write, eslint --fix

Edge case for combinations covered
  packages/storybook-addon/src/utils/generateCombinations.ts
Due: prettier --write, eslint --fix

Globals are now properly registered
  packages/storybook-addon/src/constants.ts
  packages/storybook-addon/src/preset/preview.ts
Due: prettier --write, eslint --fix

Introduced new hook for working with globals
  packages/storybook-addon/src/components/DragWrapper/DragWrapper.tsx
  packages/storybook-addon/src/components/ToolbarItems/Combinations.tsx
  packages/storybook-addon/src/components/ToolbarItems/DragEnable.tsx
  packages/storybook-addon/src/hooks/useSingleGlobal.tsx
  packages/storybook-addon/src/preset/preview.ts
Due: prettier --write, eslint --fix

Fixed hook execution in branches
  packages/storybook-addon/src/components/CombineWrapper/CombineWrapper.tsx
Due: prettier --write, eslint --fix

Updates to the package files
  packages/storybook-addon/package-lock.json
  packages/storybook-addon/package.json
Due: prettier --write --parser json

Hooks for current story and component names added
  packages/storybook-addon/src/hooks/useComponentName.ts
  packages/storybook-addon/src/hooks/useCurrentStory.ts
Due: prettier --write, eslint --fix

sendToFigma method now has two variations
  packages/storybook-addon/src/figma/figma.ts
  packages/storybook-addon/src/hooks/dragToFigma.ts
Due: prettier --write, eslint --fix

Figma window enlarged
  packages/figma-plugin/src/figma.ts
Due: prettier --write, eslint --fix

Combinations implemented
  packages/storybook-addon/src/components/CombinePanel/CombinePanel.tsx
  packages/storybook-addon/src/components/CombinePanel/EnableCombinationsPrompt.tsx
  packages/storybook-addon/src/components/CombineWrapper/CombineWrapper.tsx
  packages/storybook-addon/src/constants.ts
  packages/storybook-addon/src/figma/figma.ts
  packages/storybook-addon/src/hooks/dragToFigma.ts
  packages/storybook-addon/src/hooks/useCombinationRows.ts
  packages/storybook-addon/src/hooks/useCombine.tsx
  packages/storybook-addon/src/hooks/useSendVariants.tsx
  packages/storybook-addon/src/preset/manager.tsx
  packages/storybook-addon/src/utils/combineComponent.tsx
  packages/storybook-addon/src/utils/generateArgTypeCombinations.ts
  packages/storybook-addon/src/utils/generateCombinations.ts
Due: prettier --write, eslint --fix

useWrapperActive hook added
  packages/storybook-addon/package-lock.json
  packages/storybook-addon/package.json
  packages/storybook-addon/src/components/CombinePanel/CombinePanel.tsx
  packages/storybook-addon/src/components/CombineWrapper/CombineWrapper.tsx
  packages/storybook-addon/src/components/DragWrapper/DragWrapper.tsx
  packages/storybook-addon/src/constants.ts
  packages/storybook-addon/src/hooks/useWrapperActive.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

Variants import (probably) implemented
  packages/storybook-addon/src/components/CombinePanel/CombinePanel.tsx
  packages/storybook-addon/src/components/CombineWrapper/CombineWrapper.tsx
  packages/storybook-addon/src/figma/FigmaMessageType.ts
  packages/storybook-addon/src/figma/commons.ts
  packages/storybook-addon/src/figma/figma.ts
  packages/storybook-addon/src/figma/sendVariantsToFigma.ts
  packages/storybook-addon/src/hooks/useComponentName.ts
  packages/storybook-addon/src/hooks/useCurrentStory.ts
  packages/storybook-addon/src/hooks/useSendVariants.tsx
  packages/storybook-addon/src/utils/combineComponent.tsx
Due: prettier --write, eslint --fix

Fixed minor closure-related issue with events
  packages/storybook-addon/src/components/CombinePanel/CombinePanel.tsx
  packages/storybook-addon/src/components/CombineWrapper/CombineWrapper.tsx
  packages/storybook-addon/src/figma/sendVariantsToFigma.ts
Due: prettier --write, eslint --fix

Actually send a message now
  packages/storybook-addon/src/figma/sendVariantsToFigma.ts
Due: prettier --write, eslint --fix

Component import now works on plugin
  packages/figma-plugin/src/figma.ts
  packages/figma-plugin/src/modules/FigmaMessageType.ts
  packages/figma-plugin/src/modules/importFunctions/importSingle.ts
  packages/figma-plugin/src/modules/importFunctions/importVariants.ts
  packages/storybook-addon/src/figma/sendSingleToFigma.ts
  packages/storybook-addon/src/figma/sendVariantsToFigma.ts
Due: prettier --write, eslint --fix

Legacy figma-related code split into separate files
  packages/storybook-addon/src/components/CombineWrapper/CombineWrapper.tsx
  packages/storybook-addon/src/figma/commons.ts
  packages/storybook-addon/src/figma/sendSingleToFigma.ts
  packages/storybook-addon/src/figma/sendVariantsToFigma.ts
  packages/storybook-addon/src/figma/types/FigmaMessageType.ts
  packages/storybook-addon/src/figma/types/TokenTypes.ts
  packages/storybook-addon/src/hooks/dragToFigma.ts
Due: prettier --write, eslint --fix

Update readme.md
  readme.md
Due: prettier --write --parser markdown

Output unknown request type
  packages/figma-plugin/src/figma.ts
Due: prettier --write, eslint --fix

Broken markdown link fixed
  readme.md
Due: prettier --write --parser markdown

Debug console output removed
  packages/figma-plugin/src/figma.ts
  packages/figma-plugin/src/modules/importFunctions/importVariants.ts
  packages/figma-plugin/src/modules/ui/Iframe.ts
Due: prettier --write, eslint --fix

Minor changed to CombinePanel
  packages/storybook-addon/src/components/CombinePanel/CombinePanel.tsx
Due: prettier --write, eslint --fix
